<div class="container-fluid">
  <div class="row">
    <nav id="sidebarMenu" class="col-md-2 col-lg-2 d-md-block bg-light sidebar collapse">
      <div class="position-sticky pt-3">
        <ul class="nav flex-column">

          <li class="nav-item">
            <a class="nav-link active" href="#">
              Home
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#">
              Users
              <span class="badge bg-secondary">999</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#">
              Groups
              <span class="badge bg-secondary">999</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#">
              Projects
              <span class="badge bg-secondary">999</span>
            </a>
          </li>

        </ul>


      </div>
    </nav>

    <main class="col-md-10 ms-sm-auto col-lg-10 px-md-4 mt-4">
      <ng-content></ng-content>
    </main>
  </div>
</div>